* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.65;
}
header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-position: bottom;
  background-size: cover;
  min-height: 70vh;
  padding: 0 10rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  color: #fff;
}
nav a {
  text-decoration: none;
  color: #fff;
}

.icon-hamburger {
  display: none;
}
.textbox {
  color: #fff;
  border: solid 2px white;
  width: 50%;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
}
.features-section {
  display: flex;
  min-height: 60vh;
  padding: 10rem 10rem 0;
  position: relative;
  margin-bottom: 10rem;
}

.interactive_VR {
  padding: 5rem;
  padding-bottom: 0;
  line-height: 1.5rem;
  border-style: 2px solid white;
  width: 50%;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}
.interactive_img img {
  width: 100%;
}

.mobile-interactive {
  display: none;
}
.heading_VR {
  margin-bottom: 3rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
}
.creation_heading {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
}

.creation {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

.btn {
  text-transform: uppercase;
  padding: 1em 2em;
  background: none;
  font-weight: 600;
}

.btn-md {
  display: none;
}

.gallery-md {
  display: none;
}
.firstfour {
  display: flex;
  gap: 2rem;
  justify-content: center;
  border-radius: 5rem;
  margin-top: 1.5rem;
}

.sec_four {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem 5rem;
  gap: 3rem;
  align-items: center;
  color: white;
}

footer nav {
  padding: 0;
}

.socials {
  display: flex;
  gap: 3rem;
}

.footer img,
.socials {
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
  header {
    padding: 0 2rem;
    background: url("./images/mobile/image-hero.jpg");
    height: 100vh;
  }

  nav ul {
    display: none;
  }
  .icon-hamburger {
    display: flex;
  }

  .features-section {
    flex-direction: column;
    padding: 3rem 1.5rem;
    margin-bottom: 2rem;
  }

  .interactive_VR {
    position: static;
    width: 100%;
    text-align: center;
    padding: 3rem 1.5rem;
  }

  .interactive_img {
    width: 100%;
  }

  .mobile-interactive {
    display: flex;
  }
  .desktop-interactive {
    display: none;
  }
  .textbox {
    width: 100%;
    font-size: 2.8rem;
    padding: 1rem;
  }
  .textbox_div {
    height: 80%;
    display: flex;
    align-items: center;
  }

  .heading_VR {
    font-size: 2.2rem;
  }

  .btn-lg {
    display: none;
  }
  .btn-md {
    display: block;
    margin: 2rem auto;
  }

  .creation_heading {
    padding: 2rem 1rem;
    justify-content: center;
  }

  .gallery-md {
    display: flex;
  }

  .gallery-lg {
    display: none;
  }
}
